
.ParamInput {
    width: 60px;
    text-align: right;
    padding: 2px;
    border: 1px solid;
}

.Slider {
    appearance: none;
    height: 1px;
    background: black;
}

.Slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%; 
  border: 1px solid black;
  background: white;
  cursor: pointer;
}

.Slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid black;
  background: white;
  cursor: pointer;
}

.ColorInputControls {
    margin: 2px;
}

.ColorInputPreviewBox {
    display: flex; 
    justify-content: center; 
    align-items: center;
    padding: 5px;
}

.ColorInputPreviewRow {
    display: grid;
    grid-gap: 2px;
    grid-auto-flow: column;
    margin: 2px;
}

.Spacer {
    margin-left: 10px;
}

.ColorInput {
    margin-bottom: 5px;
    margin-left: 5px;
    border: 1px solid;
}

.CircleBox {
    position: relative;
    border: 1px solid;
}
